[submodule "samscripts"]
	path = samscripts
	url = https://github.com/isovic/samscripts.git
[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2.git
[submodule "ezra"]
	path = ezra
	url = https://gitlab.com/Krpa/ezra.git
[submodule "racon"]
	path = racon
	url = https://github.com/isovic/racon.git
[submodule "vendor/bioparser"]
	path = vendor/bioparser
	url = https://github.com/rvaser/bioparser.git
[submodule "vendor/threadpool"]
	path = vendor/threadpool
	url = https://github.com/rvaser/thread_pool.git
[submodule "vendor/thread_pool"]
	path = vendor/thread_pool
	url = https://github.com/rvaser/thread_pool.git
